<section>
  <div class="container mx-auto pt-8">
    <h1 class="font-bold text-lg">All Orders</h1>
    <div class="border">
      <table class="w-full bg-white">
        <thead>
          <tr>
            <th>Orders</th>
            <th>Customers</th>
            <th>Phone</th>
            <th>Address</th>
            <th>status</th>
            <th>Placed at</th>
          </tr>
        </thead>
        <tbody id="order_Placed_List"></tbody>
      </table>
    </div>
  </div>
</section>
